.feature {

  &__grid {

    @include breakpoint-up(medium) { // Apply to medium widths and UP
      display: flex;
    }

  }

  &__item {
    border: 1px solid magenta;
    padding: 0.9375rem;

    @include breakpoint-up(medium) {
      flex: 1 0 50% // fit item 50% of screen so shows 2 items in tablet mode
    }

    @include breakpoint-up(large) {
      flex: 1; // fit item in the width
    }
  }

  &__icon {

  }

  &__title {

  }

  &__description {

  }
}